---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Resume - SReggers">
	<section class="info-section">
		<section id="about">
			<header><h1>Hello there!</h1></header>
			<article>
				<p>My name is Sebastiaan Reggers and I'm currently working as a <span class="highlight">Java Software Developer</span> at JCore. Currently I'm working for a <span class="highlight">digital innovation</span> project at the Dutch tax office, where I have the role of lead developer.</p>
				As a programmer I get the most satisfaction out of creating <span class="highlight">reliable and maintainable</span> applications and making a <span class="highlight">positive impact</span> through technology.
				<p>Outside of my professional carreer I like to work on hobby projects. These projects can vary between trying out <span class="highlight">new web technologies</span>, such as Svelte and Astro, writing and playing <span class="highlight">Dungeons and Dragons</span> campaigns, creating <span class="highlight">rom hacks</span> of my favorite childhood games, experimenting with <span class="highlight">embedded devices</span>, such as the rasperry pi and organizing another, probably doomed, fortress in the game <span class="highlight">Dwarf Fortress</span>.</p>
			</article>
		</section>
		<section id="experience">
			<header><h2>Experience</h2></header>
			<article>
				<h3 class="article-header">Java Application Developer</h3>
				<h4 class="article-subheader">Belastingdienst</h4>
				<h5 class="article-extra">2022 - 2024</h5>
				<p>At the belastingdienst I'm working on an innovation project for the message streams that are continuously being processed by the company.
				The project focuses on flexibility, adaptability to EU-laws and conversion to the current-day software landscape.
				<br /><br />
				I'm part of a smaller scrum development team where I have taken up the role of lead developer and work closely together with the test engineers, operation engineers, functional process designers and product owner.
				<br /><br />
				Outside of developing the software I'm also very involved in estimating the effort of tasks, consulting on technical solutions and presenting our development results to our business partners and stakeholders.
				<br /><br />
				At this position I have also had the opportunity to increase my mentoring skills by being an internship advisor and a trainer for a new Java trainee.</p>
			</article>
			<article>
				<h3 class="article-header">Java Software Developer</h3>
				<h4 class="article-subheader">JCore</h4>
				<h5 class="article-extra">2022 - 2024</h5>
				<p>JCore is helping me advance my career by organising in-depth and hands-on workshops each week.
				Thanks to their fast track program I have the opportunity to use 10% of my working hours for workshops and conferences and at the same time use the other 90% for gathering more real-world experience.</p>
				<p>Some topics that were handled in these workshops:</p>
				<ul>
					<li>Domain Driven Design and Event Driven Architecture</li>
					<li>Functional Programming and Hexagonal Architecture</li>
					<li>Uncovering the mysteries of Spring "Magic"</li>
					<li>Introductions to Kotlin, Kafka, NoSql and more</li>
					<li>Frontend deep dive (React, Angular, Vue, Typescript)</li>
				</ul>
			</article>
			<article>
				<h3 class="article-header">Software Developer</h3>
				<h4 class="article-subheader">iS2 Intelligent Solution Services AG</h4>
				<h5 class="article-extra">2020 - 2022</h5>
				<p>At IS2 I worked as a Full-stack Java/Javascript developer for the inSign Digital Signature platform.
				This position introduced me to coding in a complex and feature-rich production environment.</p>
				<p>My responsibilities at this position where:</p>
				<ul>
					<li>Implementing new use cases, ranging from database to user interface</li>
					<li>Updating and fixing existing functionalities</li>
					<li>Overhauling and modernising the user interface</li>
					<li>Developing both unit and integration tests</li>
					<li>Client support</li>
				</ul>
			</article>
		</section>
		<section id="education">
			<header><h2>Education</h2></header>
			<article>
				<h3 class="article-header">Häme University of Applied Sciences, HAMK</h3>
				<h4 class="article-subheader">Bachelor of Applied Science -  Business Information Technology</h4>
				<h5 class="article-extra">2019 - 2020</h5>
				<p>Double degree programme in Finland, organised by Erasmus, in cooperation with the Thomas More University. This programme helped me approach my studies from a different point of view, due to the more individualistic study methods used in the Finnish education system.</p>
				<p>The subjects covered by this studies were:</p>
				<ul>
					<li>Cloud-based full-stack Mobile Development</li>
					<li>Business Administration and Business Intelligence</li>
					<li>Thesis in Geospatial Data Analysis</li>
					<li>Project in Virtual Studio Movie Capturing</li>
				</ul>
			</article>
			<article>
				<h3 class="article-header">Thomas More University of Applied Sciences</h3>
				<h4 class="article-subheader">Bachelor of Applied Science - Computer Science</h4>
				<h5 class="article-extra">2017 - 2020</h5>
				<p>Bachelor degree programme in Belgium, with a primary focus on Full-stack Application Development. This studies helped me approach programming in a more structured way and introduced me to several different programming languages and working methods.</p>
				<p>The subjects covered by this studies were:</p>
				<ul>
					<li>Full-stack Application Development in Windows and Linux Distributions</li>
					<li>ERP Software Management and Project Planning</li>
					<li>Basics of Networking and Embedded Devices</li>
					<li>Basics of Business Management</li>
				</ul>
			</article>
			<article>
				<h3 class="article-header">KU Leuven</h3>
				<h4 class="article-subheader">Bachelor of Science, Biochemistry and Biotechnology, unfinished</h4>
				<h5 class="article-extra">2016 - 2017</h5>
				<p>The first two semesters of this studies taught me some studying methods, but also made me realize this was not a path I wanted to follow.</p>
			</article>
			<article>
				<h3 class="article-header">Escuela Técnica Nº35, Crespo, Argentina</h3>
				<h4 class="article-subheader">High School, Business Administration</h4>
				<h5 class="article-extra">2015 - 2016</h5>
				<p>Two semesters at a local, technical, high school during my exchange year in Argentina, organized by AFS. This was my first long-term international experience and got me hooked.</p>
			</article>
			<article>
				<h3 class="article-header">Onze-Lieve-Vrouwecollege, Antwerpen</h3>
				<h4 class="article-subheader">High School, Latin-Sciences'</h4>
				<h5 class="article-extra">2009 - 2015</h5>
				<p>General high school education (ASO).</p>
			</article>
		</section>
		<section id="skills">
			<header><h2>Skills & Technologies</h2></header>
			<article>
				<ul>
					<li>Java (Jakarta, Spring boot, Quarkus)</li>
					<li>Web Standards: HTML, CSS, JavaScript, SVG</li>
					<li>Web Frameworks: Astro (this site!), Angular, Svelte</li>
					<li>Agile way of working: Kanban, Scrum, SAFe</li>
					<li>English: Full professional</li>
					<li>Dutch: Native</li>
					<li>German: Professional working</li>
					<li>Spanish: Basics</li>
				</ul>
			</article>
		</section>
	</section>
</Layout>

<style>
	.info-section {
		width: 100%;
	}

	.info-section section {
		padding-top: 2rem;
		min-height: 95vh
	}

	.info-section h1 {
		color: #DE482B;
		font-size: 2em;
		line-height: 3em;
	}

	.info-section h2 {
		color: #000000;
		font-size: 1.5em;
		display: inline;
		border-bottom: 4px solid #FCCF03
	}

	.info-section h3 {
		color: #DE482B;
	}

	.info-section h4 {
		color: #3B77BC;
	}

	.info-section article:first-of-type {
		margin-top: 1.5rem;
	}

	.info-section article {
		margin-bottom: 3rem;
	}

	.info-section article p {
		margin: 1rem 0;
	}

	.info-section article li::marker {
		color: #FCCF03;
	}

	.highlight {
		border-bottom: 2px solid #FCCF03;
	}

	@media only screen and (min-width: 768px) and (min-height: 575px) {

		.info-section {
			padding: 0 3em;
			width: 75%;
		}

		.info-section section {
			min-height: 95vh
		}
		
	}

	@media only screen and (min-width: 1200px) {

		.info-section {
			min-width: 85%;
		}

	}
</style>