---
import "../style/reset.css"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="This is my online resume in the form of a web page. Here you can find all information about my professional and some personal development. Want to have a look at the source code for this page? Go ahead and visit https://github.com/sreggers/sreggers.github.io">
		<meta property="og:title" content="Resume - SReggers">
		<meta property="og:description" content="This is my online resume in the form of a web page. Here you can find all information about my professional and some personal development. Want to have a look at the source code for this page? Go ahead and visit https://github.com/sreggers/sreggers.github.io">
		<meta property="og:image" content="/image.png">
		<meta property="og:image:alt" content="Sebastiaan Reggers">
		<meta property="og:locale" content="en_GB">
		<meta property="og:type" content="website">
		<meta name="twitter:card" content="summary_large_image">
		<meta property="og:url" content="https://sreggers.github.io">
		<link rel="canonical" href="https://sreggers.github.io">
		<link rel="icon" href="/favicon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="manifest" href="/my.webmanifest">
		<meta name="theme-color" content="#3B77BC">

		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
